<%= simple_form_for @car_park, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-lg-6">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      
      <%= f.association :district, :include_blank => true %>
      <!--<%= f.input :district_id %>-->
    </div>
    <div class="col-lg-6">
      
      <%= f.association :reservation_type, :include_blank => true %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= f.input :address %>
    </div>
    <div class="col-lg-6">
      <%= f.input :price %>
    </div>
    <div class="col-lg-6">
      <%= f.input :url_image %>
    </div>
    <div class="col-lg-6">
      <%= f.input :description %>
    </div>
    <div class="col-lg-6">
      <%= f.input :started_at %>
    </div>
    <div class="col-lg-6">
      <%= f.input :ended_at %>
    </div>
    <div class="col-lg-6">
      <%= f.input :started_time %>
    </div>
    <div class="col-lg-6">
      <%= f.input :ended_time %>
    </div>
    <div class="col-lg-6">
      <%= f.input :state %>
    </div>
  </div>


  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                search_parking_index_path, :class => 'btn btn-default' %>
<% end %>
